/* Navigation Bar */

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width:1440px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#A51C30;
  text-align:center;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  float:center;
  border-left:2px solid white
}

nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 0;
  padding: 14px 16px;
  text-decoration: none;
  padding: 15px;
  transition: 0.4s;
  z-index:9999;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color:#A51C30;
  padding:10px;
  z-index:9999;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
}

nav ul li ul li a {
  padding: 8px 14px;
  float: center;
}
nav ul li ul li a:hover {
  color: white;
  background-color: #7c1c05;
  transition: 0.3s;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #7c1c05;
  transition: 0.3s;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);;
  background-color: #A51C30;
  padding: 20px;
  table-layout: fixed
}

.grid-container1 {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);;
  background-color: #A51C30;
  padding: 15px;
  table-layout: fixed
}

.grid-containerBIOS {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);;
  background-color: #A51C30;
  padding: 30px;
  table-layout: fixed

}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 40px;
  font-size: 30px;
  color: #A51C30;
  text-align: center;
}
.grid-item1 {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 40px;
  font-size: 30px;
  color: #A51C30;
  text-align: center;
}

.grid-itemBIOS {
  background-image: "bioURL";
  padding: 20px;
  font-size: 30px;
  color: #A51C30;
  text-align: center;
}


a {
 color: #A51C30;
}


#logo{
	position:absolute;
	top:0;
	left:0;

}

.intro {
  border: 4px solid #A51C30;
  padding: 8px;
  margin: 20px;
  box-shadow: 2px 2px #A51C30;
  font-size:20px;
}

/* Title of homepage */
.header {
  display:fixed;
  width:1215px;
  height:75px;
  padding: 10px;

}

h3 {
  text-align: center;
  display: inline-block;
  text-indent: 4em;
  padding-top:10px;
  line-height: 1px;
  color:#A51C30;
  font-size: 40px;
}


.footer {
  padding: 20px;
  margin: 20px;
  text-align: center;
}


indent {
  text-indent: 50px;
}

/* please don't delete */
.middle {
  display: block;
  margin: 0 auto;
}

/* Image Headers */
.imageheader {
  display: block;
  width: 100%;
  padding: 30px;
}

/* Student Profiles */
.studentbios_column {
  float: left;
  width: 50%;
  padding: 70px;
}

.studentbios_row:after {
  content: "";
  clear: both;
  display: table;
}

/* Cohort Introductions */
.cohort_introduction {
  background-color: #A51C30;
  padding: 30px;
}

.cohort_introheader h2 {
 font-family: serif;
 font-variant: small-caps;
 font-size: 60px;
 color: white;
}

.cohort_intro h4 {
 font-family: serif;
 font-variant: small-caps;
 font-size: 35px;
 color: white;
}

.cohort_intro {
  font-family: serif;
  font-size: 20px;
  color: white;
}

.cohortinfo h5 {
 font-family: serif;
 font-variant: small-caps;
 font-size: 35px;
 color: white;
}

.cohortinfo {
 font-family: serif;
 font-size: 20px;
 color: white;
}

.margin {
  margin: 20px;
}

.icon {
    min-height: 200px;
    max-height: 200px;

}

.left {
  text-align: left;
}
.abc{
  color: Black;
  font-weight: Bold;
  text-align: left;
  font-size:30px;
}

.meettheteam h2{
  text-align: center;
  font-family: Impact;
  font-size: 40px;
}

.meettheteam p {
  text-align: center;
  font-family: Impact;
  font-size: 20px;
}

.harvardedportalpicture {
  display: block;
  width: 100%;
  padding: 30px;
}

header 